
set scrolloff=10
set incsearch
set hlsearch
set smartcase
set visualbell
set clipboard+=unnamed
set gdefault


set ideajoin
set idearefactormode=normal


set surround    
set commentary        
set highlightedyank   
set sneak              


nmap gd <Action>(GotoDeclaration)
nmap gr <Action>(ShowUsages)


nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l


vnoremap < <gv
vnoremap > >gv
